.contact{
    .container{
        .row{
            .col-md-6{
               
                .contact-details h2, h2{
                    font-family:'Cera Pro';
                    font-weight:900;
                   margin-bottom:20px;
                }
                 .contact-details h2{
                    margin-bottom:50px;
                }
               .green, p{
                font-family:'Montserrat';
                font-weight:700;
                font-style: italic;
                margin-top:0;
               }
            }
        }
    }
}