.projects{
    .container{
        
                h2.headings{
                    font-family:'Cera Pro';
                    font-weight:900;
                }
                p.headings{
                    font-family:'Montserrat';
                    font-weight:700;
                    font-style: italic;
                }
                p{
                    font-size:15px;
                }
            
        
    }
}