.about{
    .container{
        .row{
            .col-md-6{
                h2{
                    font-family:'Cera Pro';
                    font-weight:900;
                }
                h3{
                    font-family:'Cera Pro';
                    font-weight: 700;
                }
                p{
                    font-size:15px;
                }
            }
        }
    }
}